.board-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.board-container {
  margin:10px 500px;
  background-color: rgb(53, 61, 61);

}
h3{
  /* background-color: #fff; */
  color: #fff;
  border: 1px solid;
  background-color: red;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#winner{
 
  color: khaki;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid;
  padding: 0.5rem;

}
button
{
  padding: 0.25rem;
  background-color: green;
  border: none;
  border-radius: 5px;
}